setxkbmap gb &
xrandr --output eDP-1 --mode 1920x1080 --pos 1920x0 --rotate normal --output DP-1 --off --output HDMI-1 --off --output HDMI-2 --primary --mode 1920x1080 --pos 0x0 --rotate normal &
picom --no-fading-openclose --experimental-backends &
python3 /home/cjcon90/bin/island_time.py &
exec i3
