@define-color Background #282a36;
@define-color CurrentLine #44475a;
@define-color Foreground #f8f8f2;
@define-color Comment #6272a4;
@define-color Cyan #8be9fd;
@define-color Green #50fa7b;
@define-color Orange #ffb86c;
@define-color Pink #ff79c6;
@define-color Purple #bd93f9;
@define-color Red #ff5555;
@define-color Yellow #f1fa8c;

* {
  border: none;
  font-family: mononoki Nerd Font, sans-serif;
  font-size: 14px;
}

window#waybar {
  /* background-color: rgba(18, 21, 29, 0.98); */
  background-color: @Background;
  /* background-color: rgba(0, 0, 0, 0); */
  border: 3px solid @Comment;
  /* border-radius: 50px; */
  color: @Comment;
  transition-property: background-color;
  transition-duration: .5s;
}

/* window#waybar.hidden { */
/*   opacity: 0.5; */
/* } */

#workspaces,
#cpu,
#memory,
#pulseaudio,
#clock,
#backlight,
#battery,
#network,
#tray {
  /* padding: 0 5px; */
  color: @Comment;
  border-color: @Comment;
  margin: 10px;
  border: 3px solid @CurrentLine;
  /* border-radius: 90px; */
  background-clip: padding-box;
}

#workspaces,
#cpu,
#memory,
#pulseaudio,
#clock,
#backlight,
#battery,
#network,
#tray {
  min-width: 50px;
}

#workspaces {
  margin-right: 25px;
  padding: 0px;
}

#workspaces button {
  color: @CurrentLine;
  min-width: 20px;
  font-weight: 700;
  border-radius: 0px;

}

#workspaces button:hover {
  background-color: @Comment;
}

#workspaces button.focused {
  color: @Pink;
}

#workspaces button.urgent {
  color: @Red;
}

#cpu {
  color: @Yellow;
}

#memory {
  color: @Pink;
}

#pulseaudio {
    color: @Cyan;
}

#clock {
  color: @Yellow;
  padding: 10px 10px 10px 20px;
}

#backlight {
  color: @Orange;
}

@keyframes blink {
    to {
        background-color: @Red;
        color: @Background;
    }
}

#battery {
  color: @Purple;
}

#battery.charging, #battery.plugged {
  background-color: @Green;
  color: @Background;
}

#battery.warning:not(.charging) {
    background-color: @Background;
    color: @Red;
}

#battery.critical:not(.charging) {
    background-color: @Background;
    color: @Red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
    color: @Green;
}

#network.disconnected {
    color: @Background;
}

